.main input[type="submit"] {
    padding: 12px 0;
    color: #FFFFF0;
    background-color: #95C8D8;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  
  .main input[type="submit"]:hover {
    background-color: #6da0af;
  }
  
  .main input[type="submit"]:active {
    background-color: #42626F;
  }
  
  